.DS_Store
package-lock.json
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
_bin_mipsle/
_bin_x86_64/
_int_mipsle/
_int_x86_64/

#mycjh
yarn.lock
mock
bak

